{% extends "base.html" %}
{% block content %}
{% load static %}
<div id="updateForm">
    {% if messages %}
    {% for message in messages %}
    <p class = " msg bg-light">{{message}}</p>
    <a href="{% url 'index' %}">
        <input class="btn btn-primary" type="" style = "width: 100%" value = "Back to Home" ></a>
    {% endfor %}
    {% else %}
    <form method = "POST">
        {% csrf_token %}
        <label for="inputText4" class="form-label"><strong style="color: rgb(254, 243, 243);">Title:</strong></label>
        <input type="text" id="inputText4" name="title" value="{{note.title}}" class="form-control" readonly>
       
        <br>
            <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"><strong style="color: rgb(254, 243, 243);">Notes:</strong></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="notes" readonly>{{note.text | truncatechars:"100"}}</textarea>
            
        </div>
            <br>
            <input class="btn btn-danger" type="submit" style = "width: 100%" value = "Delete">
            <br><br>
            <a href="{% url 'index' %}">
            <input class="btn btn-primary" type="" style = "width: 100%" value = "Back" ></a>
            
    </form>
   
    {% endif %}

</div>
{% endblock %}